.custom-button-spacing {
    margin-bottom: 10px; 
    padding-left: 5px;
    padding-right: 5px;
}
.custom-updatebutton-spacing{
    padding-left: 6px;
    padding-right: 6px;   
}
.custom-gifts-spacing{
    padding-left: 5px;
    padding-right: 5px;
}
.custom-title {
    
    margin-right: 940px;
    padding-top: 5px;
}
.custom-back-spacing{
    margin-left: 5px;
}